<%include header%>
<body>
<%include navbar%>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="content-wrapper">
                <img id="gbengaimg" class="my-5" src="/images/BookLook.png" />
                <div class="textWrapper mx-3">
                    <p class="aboutUsText"> 
                        There are somewhere around 130 million* books globally. With up to a million being published annually in the U.S. alone, this creates a complex question of choice as to what books to read.
                    </p>
                    <p class="aboutUsText">
                        BookLook answers this question! With over a quarter million books in our database, BookLook is a repository and recommendation engine. We are free to use, and designed with the user in mind.
                    </p>
                    <p class="aboutUsText"> 
                        Our goal is to engage the transformative power of shared experience through design. The trending page is composed of New York Times’ bestsellers and is updated weekly.
                    </p>
                    <p class="aboutUsText">
                        You can personalize your experience by reviewing books, and our efficient algorithms will provide an optimized recommendation for your next read.** 
                    </p>
                    <p class="aboutUsText">
                        Registration is simple; just provide a unique username, email, and password to begin your BookLook journey and get reading!
                    </p>
                    <div class="finePrint">*According to Google!</div>
                    <div class="finePrint">**functionality coming soon!</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%include footer%>
