<%include header%>
<body>
<%include navbar%>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="content-wrapper my-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/jimProfilePic.jpeg" />
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Jimothy Owens</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/jimboowens" target="blank"><img class="favicon" src="https://github.githubassets.com/favicon.ico" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/jimcowens/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Information about all the awesome things that make Jim, JIM!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/jrProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>JR Priestman</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/JRPriestman" target="blank"><img class="favicon" src="https://github.githubassets.com/favicon.ico" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/jrpriestman/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Information about all the awesome things that make Jr, JR!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/gbengaProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Olugbenga Khuemonkhan</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/olugbengakhuemonkhan" target="blank"><img class="favicon" src="https://github.githubassets.com/favicon.ico" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/olugbenga-james-akhuemonkhan-220ab723/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Information about all the awesome things that make Gbenga, GBENGA!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/zacProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Zac Crosby</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/Zacros7164" target="blank"><img class="favicon" src="https://github.githubassets.com/favicon.ico" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/zacros7164/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p>Information about all the awesome things that make Zac, ZAC!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%include footer%>
