<%include header%>
<body>
<%include navbar%>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="content-wrapper">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/jimProfilePic.jpeg" />
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Jim Owens</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/jimboowens" target="blank"><img class="favicon" src="/images/github.png" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/jimcowens/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-10 d-flex justify-content-center">
                        <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. 
                            the Minnow would be lost. Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a 
                            world of criminals who operate above the law. Well the first thing you know ol' Jeds a millionaire. Kinfolk said Jed move away from there. 
                            Makin' your way in the world today takes everything you've got. Takin' a break from all your worries sure would help a lot. So join us here 
                            each week my friends you're sure to get a smile from seven stranded castaways here on Gilligans Isle. Just two good ol' boys Never meanin' 
                            no harm. Beats all you've ever saw been in trouble with the law since the day they was born. Believe it or not I'm walking on air. I never 
                            thought I could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just me. In 1972 a crack commando 
                            unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to 
                            the Los Angeles underground. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine? Could you be mine? 
                            Its a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine. And we'll do it our way yes our 
                            way. Make all our dreams come true for me and you. So this is the tale of our castaways they're here for a long long time. They'll have to 
                            make the best of things its an uphill climb.
                        </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/jrProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>JR Priestman</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/JRPriestman" target="blank"><img class="favicon" src="/images/github.png" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/jrpriestman/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-10 d-flex justify-content-center">
                        <p>These Happy Days are yours and mine Happy Days. Here he comes Here comes Speed Racer. He's a demon on wheels. But they got diff'rent strokes. 
                            It takes diff'rent strokes - it takes diff'rent strokes to move the world? Today still wanted by the government they survive as soldiers of 
                            fortune. And we know Flipper lives in a world full of wonder flying there-under under the sea. Here's the story of a lovely lady who was 
                            bringing up three very lovely girls. These days are all Happy and Free. These days are all share them with me oh baby. Wouldn't you like to 
                            get away? Sometimes you want to go where everybody knows your name. And they're always glad you came. Were gonna do it. Give us any chance 
                            well take it. Give us any rule we'll break it. We're gonna make our dreams come true. Got kind of tired packin' and unpackin' - town to town 
                            and up and down the dial. Well we're movin' on up to the east side. To a deluxe apartment in the sky., Wouldn't you like to get away? 
                            Sometimes you want to go where everybody knows your name. And they're always glad you came.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/gbengaProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Olugbenga Khuemonkhan</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/olugbengakhuemonkhan" target="blank"><img class="favicon" src="/images/github.png" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/olugbenga-james-akhuemonkhan-220ab723/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-10 d-flex justify-content-center">
                        <p>Well the first thing you know ol' Jeds a millionaire. Kinfolk said Jed move away from there. Goodbye gray sky hello blue. There's nothing 
                            can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long. So lets make the most of this beautiful 
                            day. Since we're together Come and dance on our floor. Take a step that is new. We've a loveable space that needs your face threes 
                            company too. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine? Could you be mine? Its a 
                            neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine. The mate was a mighty sailin' man 
                            the Skipper brave and sure. Five passengers set sail that day for a three hour tour a three hour tour?</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="profilePic" src="/images/zacProfilePic.jpeg">
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Zac Crosby</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a class="p-3" href="https://github.com/Zacros7164" target="blank"><img class="favicon" src="/images/github.png" /></a>
                        <a class="p-3" href="https://www.linkedin.com/in/zacros7164/" target="blank"><img class="favicon" src="https://static.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca" /></a>
                    </div>
                    <div class="col-10 d-flex justify-content-center">
                        <p>They're creepy and they're kooky mysterious and spooky. They're all together ooky the Addams Family. Doin' it our way. There's nothing we 
                            wont try. Never heard the word impossible. This time there's no stopping us. Fish don't fry in the kitchen and beans don't burn on the 
                            grill. Took a whole lotta tryin' just to get up that hill.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%include footer%>
