<div class="container-fluid navbar-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="dropdown">
                            <button onclick="menuDropdown()" class="dropbtn my-1">Menu</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#home">User Profile</a>
                                <a href="#about">My Book List</a>
                                <a href="#contact">Get a new rec!</a>
                                <a href="login">Login/Logout</a>
                            </div>
                        </div>       
                    </div>
                    <div class="col-6 d-flex">
                        <div class="ml-auto my-1">
                            <form>
                                <input class="form-control" type="text" placeholder="Search" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>