<%include header%>
<body>
<%include navbar%>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="content-wrapper m-3 p-5">
                <h1>Review</h1>
                <%- msg%>
                <form action="/reviewProcess" method="post">
                    <div class="form-group-one">
                        <label for="bookTitle">Book Title:</label>
                        <input type="text" class="form-control" name="title">
                        <label for="author">Author:</label>
                        <input type="text" class="form-control" name="author">
                        <label for="isbn">ISBN:</label>
                        <input type="text" class="form-control" name="isbn">
                        <div class="form-check">
                            <input class="form-check-input likeClass" type="radio" name="reviewRadios" id="likeId" value="1">
                            <label class="form-check-label" for="likeRadio">
                              Like
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input dislikeClass" type="radio" name="reviewRadios" id="dislikeId" value="0">
                            <label class="form-check-label" for="dislikeRadio">
                              Dislike
                            </label>
                        </div>
                        <div class="dropdown">
                            <div>Genre:</div>
                            <a onclick="genreDropdown()" class="dropbtn my-1">
                                Select One
                            </a>
                            <div id="my-genre-dropdown" class="dropdown-content">
                                <% for(let i = 0; i<genresArray.length; i++) { %>
                                <option href="genres"><%- genresArray[i] %></option>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Genre:</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <% for(let i = 0; i<genresArray.length; i++) { %>
                                <option href="genres" name="testGenre"><%- genresArray[i] %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Another action</button>
                                <button class="dropdown-item" type="button">Something else here</button>
                            </div>
                            </div>
                        <div class="submitDiv">
                            <button class="btn btn-primary">Submit!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%%>
</div>
</body>
<%include footer%>
